.container{
    height: calc(100vh - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerForm{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 438px;
    background-color: var(--color-bgwhite);
    border-radius: 10px;
    padding: 3rem 0.5rem;
    box-shadow: 0px 0px 64px 0px #00000040;
}

.containerForm div{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.containerLogin{
    background-color: var(--color-bggrayinicial);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header{
    height: 60px;
    width: 100%;
    padding: 1rem;
}

.imgFormLogin{
    width: 295px;
}

.container button{
    width: 385.88px;
    margin-top: 0.5rem;
}

.buttonHighContrast{
    border: none !important;
}