.input {
  background-color: var(--color-darkgray);
  height: 54.25px;
  padding: 18px 18px 20.25px 18px;
  gap: 13.5px;
  border-radius: 9px;
  color: var(--color-black);
}

@media (max-width: 768px) {
  .input {
    height: 30px;
    font-size: 0.8rem;
  }
}