.header{
    height: 60px;
    background: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0.5rem 2rem;
    justify-content: space-between;
}

.buttonHighContrast{
    border: none !important;
}